################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/appInfraestrutura/.vs/appInfraestrutura/v15/Server/sqlite3
